<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="card mt-5">
        <div class="card-body mx-auto">
          <h5 class="card-title">{{dashboardDetails?.title}}</h5>
          <p class="card-text">{{dashboardDetails?.body}}</p>
          <p>This quiz contains 5 multiple choice questions covering interesting topics.
          </p>
          <div><strong>Instructions </strong></div>
           <p> It is very simple, easy and fun to start the quiz.</p>
            <ul>
              <li>
                Click on “Start Quiz” button
              </li>
              <li>
                Read the question carefully. Select option and press Submit button.
              </li>
              <li>
                Click on Next to move ahead
              </li>
              <li>
                Click on Previous to revisit
              </li>
              <li>
                On click of complete, your answered question will be shown
              </li>
            </ul>
          
          <a href="#" routerLink="/quiz/question-1" class="btn btn-success">Start Quiz</a>
        </div>
      </div>
    </div>
  </div>
</div>